*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#grupoCero{
    width: 50px;
    height: 20px;
}
#ayuda{
    width: 20px;
    height: 20px;
    float: right;
    border-left: 500px;
    margin-left: 1px ;
    margin-top: 10px ;
}
#config{
    width: 20px;
    height: 20px;
    float: right;
    border-left: 500px;
    margin-left: 970px ;
    margin-top: 10px ;
}
#obras{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#actores{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#inicio{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#img1{
    border-color: black;
    margin-top: 50px;
    margin-left: 30px;
}

#cargImag{
    margin-left: 255px;
    margin-top: 25px;
    border-color: black;
}
#IMG{
    margin-left: 312px;
    margin-top: -250px;
}
#nombre{
    margin-left: 650px;
    margin-top: -200px;
}
#inpNombre{
    margin-left: 650px;
    margin-top: -300px;
    width: 300px;
    height: 30px;
}
#desc{
    margin-left: 650px;
    margin-top: 18px;
}
#inpDesc{
    margin-left: 650px;
    margin-top: 1px;
    width: 300px;
    height: 100px;
}
#costo{
    margin-left: 650px;
    margin-top: 18px;
}
#inpCosto{
    margin-left: 650px;
    margin-top: 1px;
    width: 150px;
    height: 30px;
}
#aceptar{
    margin-left: 650px;
    margin-top: 50px;
    border-color: black;
}
#cancelar{
    border-color: black;
    margin-left: 50px;
}
#misTr{
    margin-left:350px;
    margin-top: 40px;
    border-color: black;
    width: 200px;
    height: 30px;
    background-color: dimgray;
    
}
#subTr{
    border-color: black;
    width: 200px;
    height: 30px;
}
#años{
    margin-left: 650px;
    margin-top: 18px;
}
#inpAños{
    margin-left: 650px;
    margin-top: 1px;
    width: 150px;
    height: 30px;
}
#inpuBuscar{
    margin-left: -810px;
}